body {
    background-color: #1b1b1b!important;
}

div, p, span, h1, h2, h3, h4, button, input, select {
    font-family: Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif!important;
}

.header-iframe {
    width: 100%;
    height: 92px;
    border: none;
    transition-duration: .1s;
}

.footer-iframe {
    width: 100%;  
    border: none; 
    height: 252px;
}

.iframe-menu-enabled {
    height: 306px;
}

.root-wrapper {
    background: #fff;  
    padding-bottom: 30px;
}

#root {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

div.menu a {
    transition-duration: .3s;
    line-height: 21px;
    margin-bottom: 21px;
}

.menu a:hover {
    text-decoration: none;
}

div.menu, div.main-section {
    padding-top: 23px;
}

.section-title h3 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 32px;
}

div.react-slidedown {
    transition-duration: .2s;
}

#loading-block .loading-progress {
    opacity: 0.9;
}

/* Lists list */

.spe-section.lists .lists-list-single .lists-list-name p {
    font-weight: 600;
}

.spe-section.lists .lists-list-single .lists-word-count p {
    color: #555;
}

/* Words list */

.wordslist-word-single-prword .wordslist-word-single-prword-inner input[type=checkbox] {
    float: left;
}

.wordslist-word-single-prword .wordslist-word-single-prword-inner {
    height: 14px;
}

.spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate {
    color: #676767;
    padding-right: 40px;
}

.spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword > .wordslist-word-single-prword-inner {
    color: #999;
}

.wordslist-word-single .wordslist-word-single-bottom {
    border-bottom: 1px solid #ccc;
}

.wordslist-word-single .wordslist-word-single-bottom .wordslist-word-single-bottom-right {
    padding-left: 5px;
}

.wordslist-word-single .wordslist-word-single-bottom .wordslist-word-single-bottom-right .wordslist-word-single-stats .wordslist-word-single-stats-name {
    color: #777;
}

/* Words statistics */

.spe-section.words-stats .stats-table-cell.stats-word .stats-word-button {
    display: flex;
    align-items: center;
}

.spe-section.words-stats div.rt-td {
    display: flex;
}

.words-stats .ReactTable .rt-td div.stats-table-cell {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.spe-section.words-stats .stats-table-cell.stats-word .stats-word-itself {
    padding-right: 5px;
}

.ReactTable .rt-thead .rt-th {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1199px) {
    #root {
        width: 960px;
    }   
}

@media (max-width: 959px) {
    #root {
        width: 768px;
    }  
    
    .spe-section.lists .lists-buttons .btn-warning {
        margin-bottom: 10px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword {
        flex-basis: 47%;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate {
        flex-basis: 53%;
    }
}

@media (max-width: 767px) {
    #root {
        width: 420px;
    }   

    .footer-iframe {
        height: 407px;
    }

    div.App {
        display: flex;
        flex-wrap: wrap;
    }

    .App > div.menu {
        flex-basis: 100%;
        border-left: none;
        border-bottom: 2px solid #ccc;
        padding-top: 30px;
        display: flex;
        padding-bottom: 6px;
    }

    .App > div.menu > a {
        margin-right: 25px;
    }

    .App > div.main-section {
        flex-basis: 100%;
        order: 3
    }

    div.menu, div.main-section {
        padding-left: 0;
        padding-right: 0;
    }

    div.spe-section.list-form input {
        width: 100%;
    }

    div.test-curtain.no-test-started {
        transform: translate(310px)!important;
    }

    div.add-word-page {
        flex-wrap: wrap;
    }

    div.add-word-page .translate-form-wrapper {
        flex-basis: 100%;
        padding-right: 0;
    }

    div.add-word-page .add-form-wrapper {
        flex-basis: 100%;
        margin-top: 15px;
    }

    .spe-section.words-list-test-results .wordslist-word-single .test-result-top .test-result.translation {
        float: none;
        margin-bottom: 3px;
    }

    .spe-section.words-list-test-results .wordslist-word-single .test-result-top .btn {
        float: left;
        margin-right: 8px;
    }

    .spe-section.words-list-test-results .wordslist-word-single .test-result-top .test-times-forgot {
        float: left;
    }

    .spe-section.words-list-test-results .wordslist-word-single .test-result-bottom .wordslist-word-single-sectrans-block {
        margin-top: 3px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword {
        flex-basis: 45%;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate {
        flex-basis: 55%;
    }

    div.words-stats {
        font-size: 13px;
    }
    
    .spe-section.words-stats .stats-table-cell.stats-word .stats-word-button {
        font-size: 16px;
    }

    .words-stats .ReactTable .rt-thead .rt-th>div {
        font-size: 12px!important;
    }
}

@media (max-width: 500px) {
    .words-stats .ReactTable .rt-td div.stats-table-cell.stats-word {
        display: flex;
    }
}

@media (max-width: 479px) {
    #root {
        width: 300px;
    }   

    .spe-section.lists .lists-list-single {
        display: block;
    }

    .spe-section.lists .lists-buttons .btn-warning {
        margin-bottom: 0;
    }

    .spe-section.lists .lists-list-single .lists-list-name,
    .spe-section.lists .lists-list-single .lists-word-count,
    .spe-section.lists .lists-list-single .lists-buttons {
        width: 100%;
    }

    .spe-section.lists .lists-list-single .lists-buttons {
        text-align: left;
        margin-top: 10px;
    }

    .lists-list-bottom .random-words-block input {
        margin-bottom: 10px;
    }

    .spe-section.words-list .words-list-table {
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
    }

    .spe-section.words-list .words-list-buttons.words-list-buttons-sticky {
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .spe-section.words-list .words-list-buttons.words-list-buttons-sticky button {
        line-height: 14px;  
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top {
        flex-wrap: wrap;
        border-bottom: 1px solid #999;
    }

    .wordslist-word-single .wordslist-word-single-bottom {
        border-bottom: 1px solid #999;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword {
        flex-basis: 100%;
        border-bottom: 1px dotted #ccc;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3px;
        padding-top: 6px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword > span {
        flex-basis: 100%;
        order: 2;
        line-height: 16px;
        margin-top: 4px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword > .wordslist-word-single-prword-inner {
        flex-basis: 100%;
        order: 1;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate {
        flex-basis: 100%;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate .wordslist-word-single-prtranslate-inner {
        padding-top: 3px;
        padding-bottom: 7px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate .wordslist-word-single-prtranslate-inner .wordslist-word-single-prtranslate-pos {
        display: inline-block;
        margin-left: 4px;
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prtranslate .wordslist-word-single-prtranslate-inner > span:not(.wordslist-word-single-prtranslate-pos) {
        line-height: 16px;
    }

    .wordslist-word-single .wordslist-word-single-bottom .wordslist-word-single-bottom-left {
        flex-basis: 60%;
    }

    .wordslist-word-single .wordslist-word-single-bottom .wordslist-word-single-bottom-right {
        flex-basis: 40%;
    }

    .wordslist-word-single .wordslist-word-single-bottom .wordslist-word-single-bottom-right .wordslist-word-single-stats .wordslist-word-single-stats-name {
        width: auto;
    }

    .add-form-wrapper.edit-form-wrapper > .btn.btn-warning {
        margin-top: 21px; 
    }

    .spe-section.words-list .words-list-table .wordslist-word-single-top .wordslist-word-single-prword {
        padding-right: 40px;
    }

    .words-stats .ReactTable .rt-thead .rt-th>div {
        font-size: 9px!important;
    }

    .spe-section.words-stats .rt-tbody .rt-tr-group .rt-tr .rt-td:last-of-type {
        font-size: 10px;
    }
}

