html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    display: flex;
}

.App  > .menu {
    flex-basis: 20%;
    order: 2;
    border-left: 2px solid #ccc;
}

.App  > .main-section {
    flex-basis: 80%;
    order: 1;
}

.menu {
    padding: 10px;
}

.menu a {
    display: block;
    font-size: 20px;
    margin-bottom: 13px;
}

.main-section {
    padding: 10px;
}

.section-title h3 {
    margin: 0 0 10px 0;
}

.spe-section.lists {
    margin-bottom: 25px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.lists-list-single {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    display: flex;
}

.lists-list-single .lists-list-name {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.lists-list-single .lists-list-name p {
    font-size: 17px;
    font-weight: 500;
}

.lists-list-single .lists-word-count {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.lists-list-single .lists-word-count p {
    font-size: 14px;
}

.lists-list-single .lists-buttons {
    flex-basis: 30%;
    text-align: right;
}

.lists-list-single .lists-buttons .btn:first-of-type {
    margin-right: 13px;
}

.lists-list-single > * {
	display: inline-block;
}

.lists-list-single > a {
	margin-right: 10px;
}

.lists-list-single .single-list-title {
	margin: 0 40px 0 0;
}



.form-label {
    position: relative;
    margin-bottom: 16px;
    display: block;
}

.valerror {
    color: #721c24;
    margin: 0;
    font-size: 13px;
}

.wordslist-word-single-sectrans-block {
    font-size: 10px;
}

.wordslist-word-single-stats {
    font-size: 11px;
}

.wordslist-word-single-stats .wordslist-word-single-stats-name {
    width: 67px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 2px;
}

.wordslist-word-single-stats > div:last-of-type {
    margin-bottom: 8px;
}

.ReactTable .rt-td {
    white-space: normal!important;
}

.words-list {
    width: 100%;
    margin-top: 20px;    
}

.words-list-buttons {
    margin-bottom: 20px;
}

.words-list-buttons button {
    margin-right: 15px;
}

.words-list-table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.wordslist-word-single-top {
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    background: #e5ffe5;
}

.wordslist-word-single-prword {
    border-right: 1px solid #ccc;
    padding: 5px;
}

.wordslist-word-single-prword .wordslist-word-single-prword-inner {
    font-size: 9px;
}

.wordslist-word-single-prword .wordslist-word-single-prword-inner label {
    margin-bottom: 0;
}
.wordslist-word-single-prword .wordslist-word-single-prword-inner input[type=checkbox] {
    font-size: 15px;
    margin-right: 5px;
}

.wordslist-word-single-prword,
.wordslist-word-single-prtranslate {
    flex-basis: 50%;
    font-size: 16px;
}

.wordslist-word-single-prtranslate-inner {
    padding: 5px;
}

.wordslist-word-single-prword .wordslist-word-single-prword-forgot,
.wordslist-word-single-prtranslate .wordslist-word-single-prtranslate-pos {
    display: block;
    font-size: 9px;
}

.wordslist-word-single-prtranslate .wordslist-word-single-prtranslate-pos {
    line-height: 15px;
}

.wordslist-word-single-prword .wordslist-word-single-prword-forgot {
    display: inline;
    line-height: 15px;
}

.wordslist-word-single-prword .wordslist-word-single-prword-dont {
    font-size: 11px;
    margin-right: 8px;
    line-height: 14px;
}

.wordslist-word-single-bottom {
    padding: 8px;
    display: flex;
}

.wordslist-word-single-bottom-left,
.wordslist-word-single-bottom-right {
    flex-basis: 50%;
}

.wordslist-word-single-open {
    background: #eee;
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordslist-word-single-open > i {
    font-size: 20px;
    color: #ccc;
    transition-duration: .3s;
    transform: rotate(0deg);
}

.wordslist-word-single-open > i.word-desc-opened {
    transform: rotate(360deg);
}

.test-curtain {
    height: 100%;
    width: 40px;
    position: absolute;
    transition-duration: .3s;
    cursor: move;
    text-align: center;
    font-size: 20px;
    background: #e0e0e0;
    color: #999;;
    display: flex;
    align-items: center;
}

.test-curtain > i:first-of-type {
    padding-left: 2px;
}

.test-curtain:before {
    content: "";
    position: absolute;
    width: 600px;
    top: 0;
    bottom: 0;
    background: #efefef;
    transform: translateX(34px);
}

.test-curtain.react-draggable-dragging{
    transition-duration: 0s;
}

.test-curtain.no-test-started {
    transform: translate(550px, 0)!important;   
}

.wordslist-word-single-prtranslate {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.loading-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-progress > .fa {
    color: #fff;
    font-size: 70px;
}

.add-word-page {
    display: flex;
}

.add-word-page .translate-form-wrapper,
.add-word-page .add-form-wrapper {
    flex-basis: 50%;
}

.translation-form-langs {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.translation-form-langs .valerror {
    position: absolute;
    bottom: -1px;
    height: 17px;
}

.translation-form-langs label {
    margin-bottom: 4px;
}

.translation-form-langs select {
    width: 100%;
    font-size: 18px;
}

.translation-form-langs .translation-form-lang-picker {
    flex-basis: 50%;
}

.translation-form-lang-picker:first-of-type {
    padding-right: 10px;
}

.translate-form-wrapper {
    padding-right: 20px;
}

.translation-form-bottom input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

.translation-form-bottom label {
    margin-bottom: 27px;
}

.translation-form-bottom button {
    width: 100%;
}

.add-form-wrapper .tr-translations-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.add-form-wrapper.edit-form-wrapper button {
    width: auto;
}

.add-form-wrapper.edit-form-wrapper form {
    margin-bottom: 20px;
}

.add-form-wrapper.edit-form-wrapper button.btn-danger {
    margin-right: 20px;
}

.add-form-wrapper.edit-form-wrapper .edited-word {
    font-size: 26px;
    text-decoration: underline;
}

.back-link {
    display: block;
    margin-top: 17px;
}

.back-link i {
    margin-right: 6px;
}

.tr-translations {
    margin-bottom: 10px;
}

.tr-translations .custom-prim-trans .valerror {
    position: absolute;
}

.tr-translations input[type=radio] {
    margin-right: 9px;
    transform: translateY(-1px);
}

.tr-translations .tr-translations-pos {
    font-size: 12px;
    color: #999;
}

.tr-translations-title .valerror {
    display: inline;
}

.tr-translations-title .tr-translations-title-lists {
    margin-right: 5px;
}

.tr-lists {
    margin-bottom: 18px;
}

.tr-lists input[type=checkbox] {
    margin-right: 8px;
    transform: translateY(-1px);
}

.wordslist-word-single-sectrans-block.wordslist-word-single-bottom-left {
    font-size: 12px;
}

.wordslist-word-single-sectrans-block.wordslist-word-single-bottom-left .wordslist-word-single-sectrans-single-pos {
    color: #999;
    font-size: 10px;
}

.add-form-wrapper button {
    width: 100%;
}

.spe-section.list-form input{
    display: block;
    width: 350px;
    margin-top: 7px;
}

.spe-section.list-form .submit-block {
    margin-bottom: 10px;
}

.random-words-block input {
    transform: translateY(2px);
    padding: 5px;
    margin-right: 15px;
}

.random-words-block {
    margin-bottom: 20px;
}

.words-list-test-results > p {
    font-size: 20px;
    margin-top: 20px;
}

.words-list-test-results {
    border-top: 1px solid #ccc;  
}

.words-list-test-results .wordslist-word-single {
    padding: 5px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.words-list-test-results .wordslist-word-single:last-of-type .wordslist-word-single-bottom {
    border-bottom: 1px solid #ccc;
}

.words-list-test-results .wordslist-word-single:nth-last-of-type(2) {
    margin-bottom: 20px;
}

.words-list-test-results .test-result-top {
    font-size: 17px;
    overflow: hidden;
}

.words-list-test-results .test-result-top .result-prim-tr {
    font-weight: 500;
}

.words-list-test-results .test-result-top .result-prim-tr-pos {
    font-size: 12px;
    color: #999;
}

.words-list-test-results .test-result-bottom {
    display: flex;
}

.words-list-test-results .test-result-bottom .wordslist-word-single-sectrans-block {
    font-size: 13px;
    color: #737373;
}

.words-list-test-results .test-result-bottom .wordslist-word-single-stats > div {
    font-size: 12px;
}

.test-result.translation {
    float: left;
    line-height: 20px;
}

.test-result-top .test-times-forgot {
    float: right;
    font-size: 12px;
    padding-top: 3px;
    margin-right: 15px;
}

.test-result-top .btn {
    float: right;
    padding: 0 5px;
}

div.notification-container {
    top: auto;
    bottom: 0;
    padding-bottom: 15px;
}

.words-stats {
    margin-top: 20px;
}

.words-stats .-headerGroups {
    display: none!important;
}

.words-stats  * {
    border-color: #ccc!important;
}

.words-stats .ReactTable .rt-td {
    padding: 0;
}

.words-stats .ReactTable.-striped .rt-tr.-odd {
    background: transparent;
}

.words-stats .ReactTable .rt-td .stats-table-cell {
    height: 100%;
    padding: 5px;
}

.words-stats .ReactTable .rt-td .stats-table-cell.stats-word {
    display: flex;
    justify-content: space-between;
} 

.stats-word-button .btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

.words-stats .ReactTable .rt-thead .rt-th > div {
    word-wrap: break-word;
    white-space: normal;
}

@media (max-width: 1050px) {
    .words-stats .ReactTable .rt-thead .rt-th > div {
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .words-stats .ReactTable .rt-thead .rt-th.stats-cell-times-forgot > div {
        font-size: 9px;
    }
}

@media (max-width: 640px) {
    .App > .main-section {
        flex-basis: 100%;
    }

    .words-stats {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .words-stats {
        font-size: 13px;
    }  

    .stats-content-cell-last-forgot {
        font-size: 9px;
    }

    .words-stats .ReactTable .rt-td .stats-table-cell.stats-word {
        display: block;
    }

    .stats-word-button .btn {
        font-size: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}